@model List<Quizz.Entities.Exam>
@{ var row = 1; }
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3 class="display-4">Oluşturulan Sınavlar</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sınav Başlığı</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">
                    @{
                        @row
                        row += 1;
                    }
                </th>
                <td>@item.exam_name</td>
                <td>
                    <a class="nav-link text-dark btn" asp-area="" asp-controller="Home" asp-action="EditExam" asp-route-id="@item.id"><i class="fa fa-pencil-square-o"></i></a>
                </td>
                <td>
                    <a class="nav-link text-dark btn" asp-area="" asp-controller="Home" asp-action="DeleteExam" asp-route-id="@item.id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>

</div>
